@font-face {
  font-family: "Supersonic Rocketship";
  src: url(../fonts/supersonic_rocketship/Supersonic\ Rocketship.ttf)
  /* font by imagex on dafont 
  https://www.dafont.com/imagex.d2938?l[]=10&l[]=1&l[]=6 */
}

:root {
  --splattier: "M42.6106 23.9509C44.269 24.266 47.2942 23.1262 46.1276 16.0468C45.7522 13.7691 45.195 11.7817 44.7164 10.0743C43.9853 7.4667 43.4373 5.51223 44 4.1744C44.5003 2.9849 45.8785 2.28288 48.7867 2.04265C51.9981 1.77737 53.3687 2.78124 53.7634 4.1744C54.1869 5.66895 53.4873 7.61151 52.7326 8.91584C50.874 12.2665 47.8603 19.9645 50.6739 23.9509C51.981 25.8029 53.5369 26.2308 54.9629 25.9448C57.3738 25.4612 59.4136 22.9368 59.2519 21.8031C58.9945 19.9989 61.4821 17.4214 64.1413 19.827C66.5895 22.0418 66.6323 23.1117 66.5 23.9509C66.4886 24.0233 66.5 25 66 25.5C64.9728 26.5272 64.541 25.9499 61.2626 26.5446C60.8496 26.6196 60.4084 26.6996 59.9381 26.7861C55.7349 27.5594 54.6197 31.3396 57.5363 31.941C58.9411 32.2307 60.7242 32.3211 62.5115 32.1929C64.4346 32.0549 66.3627 31.6639 67.8298 30.996C69.349 30.3044 70.2505 29.6375 71.0647 29.0352C71.7677 28.5152 72.4056 28.0434 73.3197 27.6453C75.2927 26.7861 77.4372 28.6763 76.9225 33.9171C76.5108 38.1097 72.9194 38.5851 71.1753 38.2987C68.8592 36.8095 63.232 34.7247 59.2519 38.2987C54.2766 42.7663 57.7078 44.8283 58.823 44.8283C59.9381 44.8283 68.0872 46.6325 66.1143 52.3029C64.5359 56.8392 60.8817 51.9019 59.2519 48.8663C58.6228 47.3771 56.5069 45.5671 53.0757 50.2409C52.2751 51.186 51.5317 53.6259 54.9629 55.8254C58.3941 58.0248 61.4249 58.7465 62.5115 58.8324C64.4558 58.8897 67.6754 60.0008 64.9991 63.9873C61.6537 68.9704 58.823 66.2211 58.823 64.7605C58.823 64.2752 57.8664 62.5377 56.2711 60.5C55.3031 59.2636 54.0999 57.9166 52.7326 56.6717C51.3883 55.4478 49.8853 54.3226 48.2911 53.4983C47.1387 52.9023 45.9386 52.4636 44.7164 52.2584C43.6539 52.08 42.5747 52.0781 41.4955 52.3029C40.4162 52.5276 38.2921 53.6903 36.6169 58.8324C35.9826 60.7795 35.4097 63.2591 34.9762 66.3929C34.8212 67.5135 34.6472 68.5278 34.4581 69.4447C34.1099 71.1328 33.7101 72.4907 33.2821 73.5741C31.5755 77.8935 29.4192 77.8483 28.2854 76.9604C26.7437 76.1884 24.7683 74.203 24.8448 71C24.8902 69.0939 25.6624 66.7566 27.6849 63.9873C33.1062 56.5642 33.3178 54.2503 32.7459 54.0212C32.317 53.4198 30.8244 52.5778 28.2854 54.0212C25.1115 55.8254 23.1386 56.5986 21.9377 54.9662C20.7367 53.3338 21.2514 50.9282 22.4523 48.8663C23.6533 46.8043 25.5404 42.2508 17.3913 44.8283C9.24225 47.4057 6.32574 47.6635 4.3528 46.9761C2.37987 46.2888 1.69363 44.055 2.12253 42.079C2.46565 40.4982 4.55296 38.9001 5.55372 38.2987C6.64027 37.6687 9.87702 36.9241 14.1317 38.986C16.2294 40.0026 18.5661 39.7384 20.6465 38.986C22.7857 38.2124 24.6538 36.9228 25.712 35.979C26.3042 35.0012 26.6903 33.2822 25.712 31.5241C24.9425 30.1414 23.329 28.7346 20.3078 27.6453C18.29 26.9177 16.6924 26.2912 15.4388 25.7604C12.4291 24.4861 11.4019 23.764 11.301 23.5214C10.6999 22.5643 9.99906 20.8616 9.96437 19C9.93471 17.4081 10.3922 15.7 11.8156 14.2426C13.1013 12.9263 14.5207 13.2123 15.8511 14.2426C17.7164 15.687 19.4066 18.5944 20.3078 20.6003C21.1068 22.437 22.9872 25.0591 25.712 25.7604C27.278 26.1635 29.123 25.9321 31.2019 24.5523C36.8977 20.7721 35.2907 18.9679 33.7753 18.5383C32.0597 17.9655 29.1432 16.0296 31.2019 12.8679C33.2606 9.70626 35.4909 11.5506 36.3487 12.8679C36.8919 13.6698 38.0128 15.9265 38.15 18.5383C38.3216 21.8031 39.0936 23.9509 42.6106 23.9509ZM57.2035 10.3765C57.5035 7.37499 59.3702 6.77467 60.2035 6.67462C61.5035 6.77467 62.6035 7.47504 63.0035 8.67565C63.4035 9.87626 62.7035 10.6767 60.9035 10.5766C60.3628 10.5466 59.7861 10.7873 59.2519 11.0576C58.0075 11.687 56.9936 12.4765 57.2035 10.3765ZM13.8307 53.781C8.23065 55.1817 7.83065 56.4823 7.53065 57.683C7.23065 58.8836 8.73065 65.0867 11.6307 62.7856C13.9507 60.9446 14.064 56.0154 13.8307 53.781ZM43.2911 66.9707C42.1911 67.5043 40.7289 70.0322 42.3289 73.0738C44.3289 76.8757 46.8911 77.1759 48.2911 77.1759C49.6911 77.1759 57.0911 76.6756 54.9911 73.5741C53.4789 71.3405 51.675 70.3003 49.5 69.4447C48.6547 69.1121 47.7533 68.8075 46.7911 68.4714C45.3068 67.953 44.4756 67.5367 44 67.2594C43.3741 66.8945 43.3639 66.7702 43.2911 66.9707ZM13.8307 53.781C8.23065 55.1817 7.83065 56.4823 7.53065 57.683C7.23065 58.8836 8.73065 65.0867 11.6307 62.7856C13.9507 60.9446 14.064 56.0154 13.8307 53.781ZM43.2911 66.9707C42.1911 67.5043 40.7289 70.0322 42.3289 73.0738C44.3289 76.8757 46.8911 77.1759 48.2911 77.1759C49.6911 77.1759 57.0911 76.6756 54.9911 73.5741C53.4789 71.3405 51.675 70.3003 49.5 69.4447C48.6547 69.1121 47.7533 68.8075 46.7911 68.4714C45.3068 67.953 44.4756 67.5367 44 67.2594C43.3741 66.8945 43.3639 66.7702 43.2911 66.9707Z";
  --splat: "M29.2639 14.7953C30.7639 14.7953 31.535 13.7222 31.7639 13.2953C32.2639 12.3624 31.7639 11.6204 31.4586 10.5317C30.7275 7.92404 30.1796 5.96957 30.7423 4.63174C31.2425 3.44224 32.6208 2.74021 35.529 2.49999C38.7404 2.23471 40.111 3.23858 40.5057 4.63174C40.9292 6.12629 40.2296 8.06885 39.4749 9.37318C37.6163 12.7239 38.2638 13.1012 38.2638 13.7953C38.2638 14.2953 38.7638 14.7953 39.4749 15.2953C41.2638 15.7953 42.4824 15.4192 42.8744 14.7713C43.8178 13.212 45.1047 10.3897 47.7639 12.7953C50.212 15.01 50.2548 16.08 50.1226 16.9192C50.1111 16.9915 50.1226 17.9683 49.6226 18.4683C48.5953 19.4955 48.0453 18.6049 45.7638 18.7953C45.3508 18.8702 44.583 19.2953 44.2638 20.2953C43.9447 21.2953 44.0982 22.049 44.7638 22.7953C45.5453 23.6714 46.2639 23.867 47.2639 23.7953C48.2639 23.7236 49.9987 23.2894 50.7639 22.7953C52.166 21.8898 52.4497 21.4427 53.2639 20.8404C53.9669 20.3204 54.6048 19.8485 55.5189 19.4504C57.4919 18.5913 59.6364 20.4815 59.1217 25.7223C58.7099 29.9149 55.5189 30.2953 53.3744 30.1039C50.6263 29.2953 47.0838 28.0248 46.2639 29.2953C45.6185 30.2953 45.7639 30.7953 46.2639 31.7953C46.5045 32.2766 52.5992 34.0615 50.6263 39.7319C49.0479 44.2682 45.2639 39.7953 44.7639 39.7953C42.7639 39.7319 42.6439 40.5353 42.2639 41.2953C41.8839 42.0553 42.7639 43.2953 43.2639 43.7953C43.4788 44.0102 44.6773 44.7094 45.7639 44.7953C46.54 44.8566 47.1276 47.7039 46.2515 49.1571C45.2639 50.7953 40.7639 50.2953 40.0753 49.9304C39.6465 49.7031 38.2639 48.2953 37.5234 45.6699C36.5554 44.4335 35.7639 44.2953 34.7639 44.2953C34.2639 44.2953 33.2639 44.2953 32.7639 44.2953C31.7639 44.2953 31.2639 44.2953 30.7639 44.2953C29.7639 44.2953 28.7639 44.4207 28.2639 44.7953C27.7639 45.1699 27.3508 45.5611 26.7639 46.2953C26.1769 47.0294 25.5602 47.6094 25.5602 48.6094C25.5602 49.7406 25.453 50.3784 25.2639 51.2953C25.0747 52.2122 24.2639 53.2953 23.7639 53.7953C23.0794 54.4798 21.2525 55.4576 20.1187 54.5698C18.577 53.7978 16.6016 51.8124 16.6781 48.6094C16.7235 46.7033 21.7639 41.7953 21.2639 40.2953C20.8451 39.0389 19.2639 38.2953 18.7639 38.7953C18.2639 39.2953 15.5495 42.0458 14.7639 42.2953C13.8422 42.5879 12.4648 42.9277 11.2639 41.2953C10.063 39.6629 10.1293 36.0266 12.5079 35.8362C19.2639 35.2953 15.9273 29.8425 13.2639 31.2953C7.76387 34.2953 6.34539 34.948 4.37246 34.2607C2.39952 33.5734 1.71328 31.3396 2.14218 29.3636C2.4853 27.7827 4.57261 26.1847 5.57338 25.5833C6.65992 24.9533 7.56421 24.745 8.57337 24.745C10.9044 24.745 10.6316 25.8284 12.7639 25.2953C14.7639 24.7953 14.7639 23.7953 14.7639 23.2953C14.7639 22.7953 14.5421 22.2953 14.2639 21.7953C13.9856 21.2953 13.2639 20.2953 11.7639 20.2953C9.61886 20.2953 8.57337 20.6221 7.26388 20.2953C6.13977 20.0148 4.76388 18.2953 4.26388 17.2953C3.81667 16.4009 4.26388 14.7953 4.76388 13.2953C5.1403 11.9657 5.3482 11.695 6.77167 10.2376C8.0573 8.92133 9.47672 9.20733 10.8071 10.2376C12.6724 11.682 12.5613 11.9657 12.7639 12.7953C13.2522 14.7953 14.7639 16.0865 15.7639 16.2953C16.7639 16.5041 17.5516 16.7129 18.0516 16.5041C18.5516 16.2953 20.2639 15.7953 20.2639 12.7953C18.7639 10.7953 16.2052 9.95695 18.2639 6.79529C20.3226 3.63362 24.2576 4.97793 25.1154 6.29529C25.6587 7.09716 26.9168 9.35025 26.9168 11.9657C26.9168 13.4355 27.7639 14.7953 29.2639 14.7953ZM31.8289 23.0952C32.1289 20.0937 33.9956 19.4934 34.8289 19.3933C36.1289 19.4934 37.2289 20.1937 37.6289 21.3943C38.0289 22.5949 37.3289 23.3953 35.5289 23.2953C34.9883 23.2652 34.4115 23.506 33.8773 23.7762C32.6329 24.4057 31.6191 25.1952 31.8289 23.0952ZM28.3377 21C22.7377 22.4007 22.3377 23.7014 22.0377 24.902C21.7377 26.1026 23.2377 32.3058 26.1377 30.0046C28.4577 28.1637 28.5711 23.2345 28.3377 21ZM31 25.4853C29.9 26.0189 28.4378 28.5468 30.0378 31.5884C32.0378 35.3903 34.6 35.6905 36 35.6905C37.4 35.6905 44.8 35.1902 42.7 32.0886C41.1877 29.8551 39.3839 28.8149 37.2089 27.9593C36.3635 27.6267 35.4621 27.3221 34.5 26.986C33.0156 26.4676 32.1845 26.0513 31.7089 25.774C31.083 25.4091 31.0728 25.2848 31 25.4853ZM28.3377 21C22.7377 22.4007 22.3377 23.7014 22.0377 24.902C21.7377 26.1026 23.2377 32.3058 26.1377 30.0046C28.4577 28.1637 28.5711 23.2345 28.3377 21ZM31 25.4853C29.9 26.0189 28.4378 28.5468 30.0378 31.5884C32.0378 35.3903 34.6 35.6905 36 35.6905C37.4 35.6905 44.8 35.1902 42.7 32.0886C41.1877 29.8551 39.3839 28.8149 37.2089 27.9593C36.3635 27.6267 35.4621 27.3221 34.5 26.986C33.0156 26.4676 32.1845 26.0513 31.7089 25.774C31.083 25.4091 31.0728 25.2848 31 25.4853Z";
  --header-height: 4.5rem;
}

.container .text-container {
  margin: 2rem 0;
  font-weight: 700;
  color: #000;
}
.container .text-container span {
  display: inline-block;
  margin-right: 0.5rem;
  animation: jump infinite 1s ease-out;
}
.container .text-container span:nth-child(2), .container .text-container span:nth-child(3) {
  animation-delay: 0.1s;
}
.container .text-container span:nth-child(4), .container .text-container span:nth-child(5) {
  animation-delay: 0.2s;
}
.container .text-container span:nth-child(6), .container .text-container span:nth-child(7) {
  animation-delay: 0.3s;
}
.container .text-container span:nth-child(8), .container .text-container span:nth-child(9) {
  animation-delay: 0.4s;
}
.container .text-container span:nth-child(10), .container .text-container span:nth-child(11) {
  animation-delay: 0.5s;
}
.container .text-container span:last-of-type {
  margin: 0;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar-brand img {
	max-width: 180px
}

.lm-header {
  background: rgb(205,51,51);
  background: linear-gradient(180deg, rgba(205,51,51,1) 10%, rgba(135,8,8,1) 100%);
  border-bottom: 1px solid rgb(109, 1, 1);
  height: var(--header-height);
  z-index: 1000
}

#account-dropdown + div a {
  font-family: "Supersonic Rocketship";
  font-size: 1.4rem;
}

.navbar-nav a {
  color: #ddd;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: #ddd;
  font-family: "Supersonic Rocketship";
  font-size: 1.4rem;
  transition: all .2s
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
  color: #fff;
  transform: scale(1.1)
}

.dropdown-toggle.nav-link:hover,
.dropdown-toggle.nav-link:active {
  color: #fff;
  transform: scale(1)
}

.dropdown-toggle-icon:hover #messages-dropdown {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: .75s;
  animation-iteration-count: 1;
  transform-origin: bottom;
}

.dropdown-toggle-icon:hover #notifications-dropdown svg {
  color: goldenrod;
  -webkit-animation: ring 4s .1s ease-in-out 1;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .1s ease-in-out 1;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .1s ease-in-out 1;
  transform-origin: 50% 4px;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-8px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-3px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@-webkit-keyframes ring {
  0% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(26deg); }
  7% { transform: rotate(-24deg); }
  9% { transform: rotate(6deg); }
  11% { transform: rotate(-4deg); }
  13% { transform: rotate(2deg); }
  15% { transform: rotate(-1deg); }
  100% { transform: rotate(0); }
}

@-moz-keyframes ring {
  0% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(26deg); }
  7% { transform: rotate(-24deg); }
  9% { transform: rotate(6deg); }
  11% { transform: rotate(-4deg); }
  13% { transform: rotate(2deg); }
  15% { transform: rotate(-1deg); }
  100% { transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(26deg); }
  7% { transform: rotate(-24deg); }
  9% { transform: rotate(6deg); }
  11% { transform: rotate(-4deg); }
  13% { transform: rotate(2deg); }
  15% { transform: rotate(-1deg); }
  100% { transform: rotate(0); }
}

/* #messages-dropdown+div .media-body {
  width: 200px
} */

.nav-item.dropdown .dropdown-menu {
  width: 500px
}

#notifications-dropdown + .dropdown-menu .media-body .message {
  vertical-align: top
}



.sidebar {
  position: fixed;
  flex-direction: column;
  z-index: 999;
}

/* .dropdown-menu {
  width: 100%
} */

.dropdown-menu a {
  color: #000
}

.hanger-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.hanger {
  width: 15px;
  height: 8rem;
  background: transparent;
  border-image: url(../images/sign-pole.svg) 1 fill;
  z-index: -1;
}

.sidebar .janky-card-wrapper {
  padding: 0 .8rem;
  margin-top: -1rem;
}

.lm-banner {
  /* background-image: url('../images/banner-art.gif'); */
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 1px solid rgb(34, 34, 34);
  height: 200px;
  margin-top: calc(1.625rem + 46.969px);
}

.hero {
  display: inline-block;
  width: 100%;
  height: 500px;
  position: relative;
}

.pet-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diagonal-hero-bg {
  width: 100%;
  height: 400px;
  margin-bottom: -2rem;
  background: #2b2d42;
  background: -webkit-linear-gradient(#4e4376, #2b2d42);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#4e4376, #2b2d42); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
  clip-path: polygon(0 3%, 100% 0, 99.5% 95%, 0 80%);
}

.diagonal-hero-bg h1 {
  font-family: "Supersonic Rocketship", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  text-shadow:#000 3px 3px
}

.main-content {
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  background-color: #edf2f4;
}

.content {
  border-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem
}

.form-control,
.form-select,
.input-group .input-group-text {
  border: 3px solid #D02337;
  border-radius: 0;
  box-shadow: 3px 3px 0 rgb(0 0 0 / 90%);
  /* inset 2px 2px 0 #fff */
}

.form-floating>.form-select {
  height: calc(3.5rem + 3px);
  padding-bottom: .375rem;
}

.form-check-input[type=radio],
.form-check-input[type=checkbox] {
  border: 2px solid #D02337;
  box-shadow: 2px 2px 0 rgb(0 0 0 / 90%), inset 1px 1px 0 #fff;
}

input[type=checkbox]:not(.form-switch input[type=checkbox]) {
  border-radius: 0
}

.input-group .input-group-text {
  position: relative;
  font-family: "Supersonic Rocketship", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: #D02337;
  padding: 0 .75rem; }
  .input-group-sm>.input-group-text {
    padding: .25rem .5rem;
    font-size: .875rem; }
    .input-group-lg>.input-group-text {
      padding: .5rem 1rem;
      font-size: 1.75rem; }

.input-group .btn {
  box-shadow: 3px 3px 0 rgb(0 0 0 / 90%), inset 2px 2px 0 #fff;
  margin-bottom: 0;
  z-index: 0; }

.input-group .btn::before {
  content: none; 
}

.input-group .btn:hover {
  transform: none; 
}

.input-group .btn:active {
  transform: translate(0em, 0.25em); 
  box-shadow: 3px 3px 0 rgb(0 0 0 / 90%), inset 20px 20px 0 #fff;
}

.input-group .btn:focus {
  box-shadow: 3px 3px 0 rgb(0 0 0 / 90%), inset 2px 2px 0 #fff;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-radius: 0
}

.font-supersonic {
  font-family: "Supersonic Rocketship";
}

/* ****** Janky Cards ****** */

.janky-card-wrapper.card {
  background-color: transparent;
  border: 0;
}

.janky-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background: transparent;
  border: 0;
  border-radius: 0;
  z-index: 3;
  padding: .8rem .8rem 1.2rem .8rem;
  transform: rotate(1.4deg);
  font-family: "Supersonic Rocketship";
  font-size: 1.6rem;
  font-weight: bold;
  word-break: break-all;
  color: black;
}

.janky-card-header::after {
  content: "";
  position: absolute;
  height: 1.6rem;
  width: 100%;
  bottom: 8px;
  left: 0;
  z-index: -1;
  background-color: #D02337;
  filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 1));
}

.janky-card-header a {
  color: white;
  text-shadow: 2px 2px #000;
  text-decoration: none;
}

/* applies dropshadow to card body */
.janky-card-body-wrapper {
  position: relative;
  background-color: transparent;
  filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 1));
}

/* red background to card body, clip path */
.janky-card-body {
  position: relative;
	width: 100%;
  height: 100%;
  background: rgb(208,35,55);
  background: linear-gradient(176deg, rgba(208,35,55,1) 42%, rgba(184,22,40,1) 100%);
	-webkit-clip-path: polygon(0 0, 100% 6%, 99% 95%, 1% 100%);
  clip-path: polygon(0 0, 100% 6%, 99% 95%, 1% 100%); }

  /* white background to inner card body, padding to text, clip path */
.janky-card-inner-body {
  width: 100%;
  /* height: 18em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 2rem 2rem 1.6rem 2rem;
  background: white;
  -webkit-clip-path: polygon(0 0, 100% 8%, 98% 95%, 3% 100%);
  clip-path: polygon(0 0, 100% 8%, 98% 95%, 3% 100%);
  text-align: justify; }

  .janky-card-footer {
    display: flex;
    flex-direction: column;
    background: rgb(208,35,55);
    background: linear-gradient(176deg, rgba(208,35,55,1) 42%, rgba(184,22,40,1) 100%);
    border: 0;
    margin-top: 15px;
    transform: rotate(-2.6deg);
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 1));
  }

  .janky-card-footer:last-child {
    border-radius: 0;
  }

  .janky-card-footer__inner {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem
  }
  

    /* .janky-card-inner-body .card-text {
      text-overflow: ellipsis;
      overflow:hidden;
      display: -webkit-box !important;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      white-space: normal;
    } */
    
    /* shapes left side of box */
    /* .janky-card-inner-body::before {
      content: "";
      width: 50%;
      height: 100%;
      float: left;
      shape-outside: polygon(0 0, 6% 100%, 0 100%);
      shape-margin: 1rem;
    } */

    /* shapes right side of box */
    /* .janky-card-inner-body .text::before {
      content: "";
      width: 50%;
      height: 100%;
      float: right;
      shape-outside: polygon(100% 0, 100% 100%, 95% 100%);
      shape-margin: 1rem;
    } */

    /* makes element 100% its parents height with no padding */
    /* .janky-card-inner-body .text {
      height: 100%;
      padding: 0;
    } */





    .shape {
      width: 50px;
      height: 80px;
      -webkit-shape-outside: polygon(90% 0, 100% 0, 10% 100%, 0 100%);
      shape-outside: polygon(90% 0, 100% 0, 10% 100%, 0 100%);
      float: left;
      /* the following three lines are only for demonstration purposes */
      background: #444;
      -webkit-clip-path: polygon(90% 0, 100% 0, 10% 100%, 0 100%);
      clip-path: polygon(90% 0, 100% 0, 10% 100%, 0 100%);
    }
    
    .parallelogram {
      width: 300px;
      padding: 20px 20px 20px 0;
      -webkit-transform: skew(-30deg);
      -moz-transform: skew(-30deg);
      transform: skew(-30deg);
      background: #ccc;
      margin: 20px auto;
    }
    
    .parallelogram .txt {
      width: 300px;
      -webkit-transform: skew(30deg);
      -moz-transform: skew(30deg);
      transform: skew(30deg);
    }







/* ****** Janky Card Group ****** */

.framed-card-group .janky-card-wrapper:nth-child(odd) {
  padding-right: 2rem;
}

.framed-card-group .janky-card-wrapper:nth-child(even) {
  padding-left: 2rem;
  background-color: transparent;
  border: 0;
}

@media (max-width: 767.98px) { 
  .framed-card-group .janky-card-wrapper:nth-child(odd),
  .framed-card-group .janky-card-wrapper:nth-child(even) {
    padding: 0
  }
}

.framed-card-group .janky-card-wrapper:nth-child(odd) .janky-card-header {
  transform: rotate(1.4deg);
}

.framed-card-group .janky-card-wrapper:nth-child(even) .janky-card-header {
  transform: rotate(-1deg);
}

.framed-card-group .janky-card-wrapper:nth-child(odd) .janky-card-footer {
  transform: rotate(-2.6deg);
}

.framed-card-group .janky-card-wrapper:nth-child(odd) .janky-card-footer__inner {
  transform: rotate(1deg);
}

.framed-card-group .janky-card-wrapper:nth-child(even) .janky-card-footer {
  transform: rotate(2deg);
}

.framed-card-group .janky-card-wrapper:nth-child(even) .janky-card-footer__inner {
  transform: rotate(-0.6deg);
}

.framed-card-group .janky-card-wrapper:nth-child(odd) .janky-card-header::after {
  left: 0;
}

.framed-card-group .janky-card-wrapper:nth-child(even) .janky-card-header::after {
  right: 0;
}



/* .janky-card-header {
  position: relative;
  background: transparent;
  border: 0;
  z-index: 3;
  padding: .8rem;
  font-family: "Supersonic Rocketship";
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}

.janky-card-header::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  height: 1.6rem;
  width: 100%;
  z-index: -1;
  background-color: #D02337;
  transform: rotate(1deg);
  filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 1));
} */


.framed-card-group .janky-card-wrapper:nth-child(even) .janky-card-body {
  position: relative;
	width: 100%;
  height: 100%;
	background: rgb(208,35,55);
  background: linear-gradient(176deg, rgba(208,35,55,1) 42%, rgba(184,22,40,1) 100%);
	-webkit-clip-path: polygon(2% 4%, 98% 0, 100% 100%, 0 96%);
  clip-path: polygon(2% 4%, 98% 0, 100% 100%, 0 96%);
}

.framed-card-group .janky-card-wrapper:nth-child(even) .janky-card-inner-body {
  -webkit-clip-path: polygon(1% 4%, 98% 2%, 99% 100%, 0 96%);
  clip-path: polygon(1% 4%, 98% 2%, 99% 100%, 0 96%);
}



/****** Janky Card Petlist Group ******/

.pet-list .janky-card-inner-body {
  height: 15rem
}

.pet-list__image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.pet-toolbar {
  display: flex;
  align-items: center
}

.pet-toolbar button {
  font-size: 1.4rem
}

.pet-toolbar .pet__favourite {
  color: goldenrod
}

.pet-toolbar .fa-star:hover {
  cursor: pointer;
}





.card {
  border-radius: 2px;
  border: 2px solid #000;
  /* clip-path: polygon(4% 0, 100% 8%, 98% 99%, 0 93%); */
  /* transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg); */
}

.dropdown-toggle-icon .dropdown-toggle::after {
	display: none;
}

#account-dropdown {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#pet-select-list {
  list-style: none;
  padding-left: 0
}

.background-button {
  position: relative;
  width: 100%;
  padding-top: 25.92%;
  padding: 2rem 4rem;
  display: block;
  background-color: transparent;
  background-size: 100% 100%;
  font-family: "Supersonic Rocketship";
  font-size: 28px;
  text-decoration: none;
  color: #fff;
}

.background-button:hover {
  color: #fff;
}

.background-button:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(title);
  width: 100%;
  height: 100%;
  background-color: #D02337;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-button:hover:after {
  -webkit-transform: translate(2.5%, 10%);
  transform: translate(2.5%, 10%);
}

.background-button[title="LOG IN"] {
  clip-path: polygon(0 0, 100% 9%, 94% 93%, 6% 99%);
  transform: rotate(2deg);
}

.background-button[title="LOG IN"]:after {
  clip-path: polygon(0 0, 100% 9%, 94% 93%, 6% 99%)
}

.background-button[title="SIGN UP"] {
  clip-path: polygon(9% 3%, 90% 7%, 100% 94%, 0 100%);
  transform: rotate(-2deg);
}

.background-button[title="SIGN UP"]:after {
  clip-path: polygon(9% 3%, 90% 7%, 100% 94%, 0 100%)
}



.btn-red {
	color: #fff;
	background-color: #D02337;
	border-color: #D02337
}

.btn-red:hover {
	color: #fff;
	background-color: #be162a;
	border-color: #b40e21
}

.btn-check:focus+.btn-red,
.btn-red:focus {
	color: #fff;
	background-color: #be162a;
	border-color: #b40e21;
	box-shadow: 0 0 0 .25rem rgba(253, 49, 49, 0.5)
}

.btn-check:active+.btn-red,
.btn-check:checked+.btn-red,
.btn-red.active,
.btn-red:active,
.show>.btn-red.dropdown-toggle {
	color: #fff;
	background-color: #b40e21;
	border-color: #a8091b
}

.btn-check:active+.btn-red:focus,
.btn-check:checked+.btn-red:focus,
.btn-red.active:focus,
.btn-red:active:focus,
.show>.btn-red.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(253, 49, 49, 0.5)
}

.btn-red.disabled,
.btn-red:disabled {
	color: #fff;
	background-color: #D02337;
	border-color: #D02337
}


/* ****** Janky Buttons ******* */

.btn-janky-wrapper {
  position: relative;
  display: inline-block;
  filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 1));
  transition: all .15s linear 0s; }
  .btn-janky-wrapper:hover {
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 1)); }
    .btn-janky-wrapper:active {
      filter: drop-shadow(0 0 0 rgba(0, 0, 0, 1)); }

.btn-janky {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 1.4rem 1.6rem 1rem 1.6rem;
  border-radius: 0;
  clip-path: polygon(2% 10%, 100% 19%, 94% 93%, 6% 99%);
  text-transform: uppercase;
  font-family: "Supersonic Rocketship", sans-serif;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
  letter-spacing: 1px;
  text-decoration: none; }
  .btn-janky:hover {
    color: #fff;
    top: 4px;
    left: 4px; }
    .btn-janky:active {
      top: 8px;
      left: 8px; }

.btn-janky.btn-light {
  color: #000;
  text-shadow: 2px 2px rgb(255, 255, 255); }
  .btn-janky.btn-light:hover {
    color: #000 }

.btn-group .btn-janky-wrapper {
  filter: none;
}

.btn-group .btn-janky {
  padding: .375rem .75rem
}

.btn-group .btn-janky-wrapper:nth-child(1n) .btn-janky {
  clip-path: polygon(9% 3%, 93% 1%, 99% 99%, 1% 95%);}
  .btn-group .btn-janky-wrapper:nth-child(2n) .btn-janky {
    clip-path: polygon(1% 1%, 99% 6%, 93% 96%, 8% 99%);}

.btn-group .btn-janky-wrapper .btn-janky:hover,
.btn-group .btn-janky-wrapper .btn-janky:active {
  top: 0;
  left: 0;
}

.btn-janky.btn-lg {
  padding: 1.8rem 2rem 1.2rem 2rem;
  font-size: 1.25rem;
}

.btn-group-lg>.btn-janky-wrapper .btn-janky {
  padding: 1.2rem 2rem;
  font-size: 1.25rem;
}

.btn-janky.btn-sm {
  padding: .75rem 1rem .5rem 1rem;
  font-size: .875rem;
}

.btn-group-sm>.btn-janky-wrapper .btn-janky {
  padding: .5rem 1rem;
  font-size: .875rem;
}

/* .btn-janky-wrapper::after {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  top: 13px;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
} */

/* .btn-janky-wrapper::before {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}

.btn-janky:hover::after {
  top: 1px;
  left: 2px;
  width: 4px;
  height: 4px; }
.btn-janky:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px; }

button:active.btn-janky::before {
  bottom: 1px;
  right: 1px;
}

button:active.btn-janky::after {
  top: 1px;
  left: 1px;
}

*/

/* ***** Paint Colour ***** 
using methods found in https://www.sitepoint.com/css-path-function-squeaky-portraits */

.pet-preview__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: solid 60px red;
  border-image: url(../images/screen.svg) 60 fill;
}

.pet-preview {
  display: flex;
  height: 25vmin
}

.pet-preview img {
  object-fit: contain;
  background: transparent;
}

.colour-chooser {
	display: flex;
  flex-direction: row;
  justify-content: center;
	padding: 0.4rem 0.8rem;
}

.colour-chooser label {
	position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Supersonic Rocketship", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.colour-chooser label .color-label {
  position: absolute;
  top: 33%;
  text-shadow: 3px 2px #000
}

.colour-chooser input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.colour-chooser input[type="radio"] + .paint-color, 
.colour-chooser input[type="radio"] + .color-label {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.paint-color {
  width: 60px;
  height: 58px;
  margin: 20px 22px;
  background: rgb(0, 0, 0);
  -webkit-clip-path: path(var(--clip, var(--splat)));
          clip-path: path(var(--clip, var(--splat)));
  transition: clip-path 0.2s;
  transform: scale(var(--scale, 1)) rotate(var(--rotate, 0deg));
}

.colour-chooser label:hover .paint-color {
  --clip: var(--splat);
  --scale: 1.1;
  --rotate: 10deg;
}

.colour-chooser label:active .paint-color {
  --clip: var(--splattier);
  --scale: 0.95;
  --rotate: -5deg;
  width: 80px;
  height: 80px;
  margin: 10px 11px 10px 11px
}

label:hover input[class="color-red"]:checked + .paint-color,
label:hover input[class="color-blue"]:checked + .paint-color,
label:hover input[class="color-green"]:checked + .paint-color,
label:hover input[class="color-yellow"]:checked + .paint-color {
  --clip: var(--splattier);
  --scale: 1;
  --rotate: 0deg;
  width: 80px;
  height: 80px;
  margin: 10px 11px 10px 11px
}

input[class="color-red"]:checked + .paint-color,
input[class="color-blue"]:checked + .paint-color,
input[class="color-green"]:checked + .paint-color,
input[class="color-yellow"]:checked + .paint-color {
  --clip: var(--splattier);
  width: 80px;
  height: 80px;
  margin: 10px 11px 10px 11px
}

input[type="radio"] ~ .color-label {
  color: #ccc
}

/* input[class="color-red"]:checked + .color-label,
input[class="color-blue"]:checked + .color-label,
input[class="color-green"]:checked + .color-label,
input[class="color-yellow"]:checked + .color-label {
  color: rgb(216, 35, 11);
} */

input[class="color-red"]:hover + .paint-color,
input[class="color-red"]:checked + .paint-color,
input[class="color-red"]:focus + .paint-color {
	background: rgb(216, 35, 11);
}

.colour-chooser label:hover .color-label,
.colour-chooser label:focus .color-label,
.colour-chooser input[type="radio"]:checked ~ .color-label {
  color: #fff;
  transition: color 0.2s
}

input[class="color-blue"]:hover + .paint-color,
input[class="color-blue"]:checked + .paint-color,
input[class="color-blue"]:focus + .paint-color {
	background: rgb(5, 46, 228);
  color: rgb(5, 46, 228);
}


input[class="color-green"]:hover + .paint-color,
input[class="color-green"]:checked + .paint-color,
input[class="color-green"]:focus + .paint-color {
	background: rgb(45, 199, 6);
  color: rgb(45, 199, 6);
}


input[class="color-yellow"]:hover + .paint-color,
input[class="color-yellow"]:checked + .paint-color,
input[class="color-yellow"]:focus + .paint-color {
	background: rgb(232, 214, 0);
  color: rgb(232, 214, 0);
}




/* ***** Pet Chooser ***** */

.pet-chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-image: url(../images/screen-long.svg) 1 fill;
  padding: 4rem 2rem;
  z-index: 1
}

.arrow {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  /* line-height: 30px; */
  /* margin-top: 85px; */
  z-index: 1000;
}

/* .arrow-right {
  left: 780px;
} */


.noselect {
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none;  
          user-select: none;
}










.visuallyhidden { 
  clip: rect(1px, 1px, 1px, 1px);  
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.icon {
  fill: #6B7A8F;
  width: 100%;
}

.carousel {
  --slide-size: 20vmin;
  --slide-margin: 2vmin;
  height: var(--slide-size);
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
 }

  .carousel .controls {
    position: absolute;
    z-index: 12121996;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
  }

  .carousel .controls--back {
    left: 25px;
  }

  .carousel .controls--next {
    right: 25px;
  }

  .carousel .controls:hover {
    height: 33px;
    width: 33px;
  }

  /* .item-list__wrapper {
    --level2-width: 16vmin;
    --level1-width: 18vmin;
    --level0-width: 20vmin;

    display: flex;
    position: absolute;
    height: var(--level0-width);
    width: calc((var(--level2-width) * 2 ) + (var(--level1-width) * 2) + var(--level0-width) + (var(--slide-margin) * 2 * 5));
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 0;
    margin: 0 calc(var(--slide-margin) * -1);
    list-style: none;
    transition: transform 600ms cubic-bezier(0.25, 1, 0.35, 1);
  } */
  
 /* .item {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 var(--slide-margin);
    opacity: 0.25;
    position: absolute;
    text-align: center;
    z-index: 1;
  }  */
  
/* 
  .item {
    --level2-height: 16vmin;
    --level2-width: 16vmin;
  
    --level1-height: 18vmin;
    --level1-width: 18vmin;
  
    --level0-height: 20vmin;
    --level0-width: 20vmin;
    
    --level-2-left: calc((16vmin + 18vmin + 20vmin + 18vmin) + (2vmin * 8));
    --level-1-left: calc((16vmin + 18vmin + 20vmin) + (2vmin * 6));
    --level0-left: calc((16vmin + 18vmin) + (2vmin * 4));
    --level1-left: calc(16vmin + (2vmin * 2));
    --level2-left: 0
  }
  
  
  .level-2 {
      height: var(--level2-height);
      width: var(--level2-width);
      background-color: #228291;
      left: var(--level-2-left);
      margin-top: 2vmin;
  }
  
  .level-1 {
      height: var(--level1-height);
      width: var(--level1-width);
      background-color: #6796E5;
      left: var(--level-1-left);
      margin-top: 1vmin;
  }
  
  .level0 {
      height: var(--level0-height);
      width: var(--level0-width);
      background-color: #4EC9E1;
      left: var(--level0-left);
  }
  
  .level1 {
      height: var(--level1-height);
      width: var(--level1-width);
      background-color: #6796E5;
      margin-top: 1vmin;
      left: var(--level1-left);
  }
  
  .level2 {
      height: var(--level2-height);
      width: var(--level2-width);
      background-color: #228291;
      margin-top: 2vmin;
      left: var(--level2-left);
  }
  
  .left-enter {
      opacity: 0;
      left: var(--level2-left) - var(--level2-width);
      height: var(--level2-height) - 30;
      width: var(--level2-width) - 20;
      margin-top: 4vmin;
  }
  
  .left-enter.left-enter-active {
      opacity: 1;
      left: var(--level2-left);
      height: var(--level2-height);
      width: var(--level2-width);
      margin-top: 2vmin;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
  }
  
  .left-leave {
      opacity: 1;
      left: var(--level-2-left);
      height: var(--level2-height);
      width: var(--level2-width);
      margin-top: 2vmin;
  }
  
  .left-leave.left-leave-active {
      left: var(--level-2-left) + var(--level2-width) + 20;
      opacity: 0;
      height: var(--level2-height) - 30;
      margin-top: 4vmin;
      width: var(--level2-width) - 20;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
  }
  
  .right-enter {
      opacity: 0;
      left: var(--level-2-left) + var(--level2-width);
      height: var(--level2-height) - 30;
      width: var(--level2-width) - 20;
      margin-top: 4vmin;
  }
  
  .right-enter.right-enter-active {
      opacity: 1;
      left: var(--level-2-left);
      height: var(--level2-height);
      margin-top: 2vmin;
      width: var(--level2-width);
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
  }
  
  .right-leave {
      opacity: 1;
      left: var(--level2-left);
      height: var(--level2-height);
      margin-top: 2vmin;
      width: var(--level2-width);
  }
  
  .right-leave.right-leave-active {
      opacity: 0;
      left: var(--level2-left) - var(--level2-width);
      height: var(--level2-height) - 30;
      width: var(--level2-width) - 20;
      margin-top: 4vmin;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
  } */




  

   

  /*
  .arrow {
      position: absolute;
      width: 60px;
      height: 100%;
      background-color: #673AB7;
      text-align: center;
      font-size: 2em;
      cursor: pointer;
      line-height: 30px;
      z-index: 1000;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 500ms;
  }

  i {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }

  .arrow-right {
    right: 0;
}

.arrow-left {
    left: 0;
}
.arrow:hover{
background-color: #512DA8;
color: #FFEB3B;
}
*/

/* .item {
  --level2-height: 16vmin;
  --level2-width: 16vmin;

  --level1-height: 18vmin;
  --level1-width: 18vmin;

  --level0-height: 20vmin;
  --level0-width: 20vmin;
  
  --level-2-left: calc((16vmin + 18vmin + 20vmin + 18vmin) + (2vmin * 8));
  --level-1-left: calc((16vmin + 18vmin + 20vmin) + (2vmin * 6));
  --level0-left: calc((16vmin + 18vmin) + (2vmin * 4));
  --level1-left: calc(16vmin + (2vmin * 2));
  --level2-left: 0
} */
.item-list__wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  padding-left: 0;
  list-style: none;
}

  .item {  
    --default-height: 20vmin;
    --default-width: 20vmin;

    --level2-height: 16vmin;
    --level2-width: 16vmin;

    --level1-height: 18vmin;
    --level1-width: 18vmin;

    --level0-height: 20vmin;
    --level0-width: 20vmin;

    --level-2-left: 88%;
    --level-1-left: 70%;
    --level0-left: 50%;
    --level1-left: 30%;
    --level2-left: 12%;

    --level-2-bs: -.1em .1em .2em #212121;
    --level-1-bs: -.2em .2em .4em #212121;
    --level2-bs: .1em .1em .2em #212121;
    --level1-bs: .2em .2em .4em #212121;
    --level0-bs: 0 .4em .8em #212121;

    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: .25;
    color: white;
    font-size: 40px;
    transform: translate(-50%, -50%);
    transition: box-shadow 1s,  height 250ms, width 250ms, left 1s, margin-top 1s, line-height 250ms, background-color 1s;
  }
  
  .level-2 {
      height: var(--level2-height);
      width: var(--level2-width);
      left: var(--level-2-left);
      /* line-height: var(--level2-height); */
      background-color: #228291;
      box-shadow: var(--level-2-bs);
  }
  
  .level-1 {
      height: var(--level1-height);
      width: var(--level1-width);
      left: var(--level-1-left);
      /* line-height: var(--level1-height); */
      background-color: #6796E5;
      box-shadow: var(--level-1-bs);
    }
  
  .level0 {
      height: var(--level0-height);
      width: var(--level0-width);
      left: var(--level0-left);
      /* line-height: var(--level0-height); */
      background-color: #4EC9E1;
      box-shadow: var(--level0-bs);
  }
  
  .level1 {
      height: var(--level1-height);
      width: var(--level1-width);
      left: var(--level1-left);
      /* line-height: var(--level1-height); */
      background-color: #6796E5;
      box-shadow: var(--level1-bs);
  }
  
  .level2 {
      height: var(--level2-height);
      width: var(--level2-width);
      left: var(--level2-left);
      /* line-height: var(--level2-height); */
      background-color: #228291;
      box-shadow: var(--level2-bs);
  }
  
  .level-2,
  .level2 {
      z-index: 0;
  }
  
  .level-1,
  .level1 {
      z-index: 1;
  }
  
  .level0 {
      z-index: 2;
  }
  


  .item--previous,
  .item--next {  
    opacity: 0.5;  
  }
  
  .item--previous:hover,
  .item--next:hover {
    opacity: 0.5;
  }
  
  .item--previous:hover .item__image-wrapper {
    transform: translateX(2%);
  }
  
  .item--next:hover .item__image-wrapper {
    transform: translateX(-2%);
  }
  
  .item--current {
    --x: 0;
    --y: 0;
    --d: 50;
  
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
  }
    
  .item--current:hover .item__image-wrapper {
    transform: 
      scale(1.025)
      translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      );
  }
  
  .item__image-wrapper {
    height: 100%;
    width: 100%;
    transition: transform calc(600ms / 4) cubic-bezier(0.25, 0.46, 0.45, 0.84);
  }
  
  .item__image {
    --d: 20;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 600ms cubic-bezier(0.25, 0.46, 0.45, 0.84),
      transform 600ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    user-select: none;
  }

  .item--current:hover .item__image {      
    transform: 
      translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      ); 
  }

  .item__headline {
    font-weight: 600;
    position: relative;
    margin-bottom: 0
  }

  .item__content {
    --d: 60;
    
    opacity: 0;
    position: relative;
    transition: transform 600ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    visibility: hidden;
  }

  
  .item--current .item__content {
    animation: fade-in calc(600ms / 2) cubic-bezier(0.25, 0.46, 0.45, 0.84) forwards;
    visibility: visible;
  }
  
  .item--current:hover .item__content {
  transform: 
    translate(
      calc(var(--x) / var(--d) * -1px),
      calc(var(--y) / var(--d) * -1px)
    );
  }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }



  .stacked-screens__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    height: 100%;
  }

  .stacked-screen {
    width: 100%;
    padding: 2rem 4rem 4rem 4rem;
    margin-bottom: -.5rem
  }

  .stacked-screen > div {
    padding: 2rem;
  }

  .stacked-screens__wrapper .stacked-screen:nth-child(odd) {
    border-image: url(../images/screen-stacked-1.svg) 1 fill;
  }

  .stacked-screens__wrapper .stacked-screen:nth-child(even) {
    border-image: url(../images/screen-stacked-2.svg) 1 fill;
  }

  .screen-btn-wrapper {
    margin-top: -1.5rem;
    padding-left: 4rem;
  }

  .screen-btn {
    background-color: transparent;
    border-image: url(../images/screen-button.svg) 1 fill;
    padding: 4rem 5rem;
  }


.size-20 {
  width: 20px;
  height: 20px; }

.size-25 {
  width: 25px;
  height: 25px; }

.size-30 {
  width: 30px;
  height: 30px; }

.size-35 {
  width: 35px;
  height: 35px; }

.size-40 {
  width: 40px;
  height: 40px; }

.size-45 {
  width: 45px;
  height: 45px; }

.size-50 {
  width: 50px;
  height: 50px; }

.size-55 {
  width: 55px;
  height: 55px; }

.size-60 {
  width: 60px;
  height: 60px; }

.size-65 {
  width: 65px;
  height: 65px; }

.size-70 {
  width: 70px;
  height: 70px; }

.size-75 {
  width: 75px;
  height: 75px; }

.size-80 {
  width: 80px;
  height: 80px; }

.size-85 {
  width: 85px;
  height: 85px; }

.size-90 {
  width: 90px;
  height: 90px; }

.size-95 {
  width: 95px;
  height: 95px; }

.size-100 {
  width: 100px;
  height: 100px; }

.size-105 {
  width: 105px;
  height: 105px; }

.size-110 {
  width: 110px;
  height: 110px; }

.size-115 {
  width: 115px;
  height: 115px; }

.size-120 {
  width: 120px;
  height: 120px; }

.footer {
  position: relative;
  padding: 2rem;
  color: rgb(204, 204, 204);
  background-color:rgb(30, 30, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer::before {    
  content: "";
  background-image: url(../images/footer-pets.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.footer > p,
.footer > a {
  position: relative;
}

.footer > p {
  line-height: 1;
  font-weight: bold;
  text-shadow: 1.5px 1px #000;
  margin-bottom: .6rem
}

.footer > a {
  font-weight: bold;
  text-decoration: none
}



.user-profile-link {
  width: -moz-fit-content;
  width: fit-content;
}



/* About Me 
---------------------*/

.profile-header {
font-size: 45px;
}

@media (max-width: 767px) {
.profile-header {
  font-size: 35px;
}
}

.janky-card-header.profile-header::after {
  bottom: 16px
}

.profile-section .framed-card-group .janky-card-wrapper:nth-child(even),
.profile-section .framed-card-group .janky-card-wrapper:nth-child(odd) {
  padding-left: 0;
  padding-right: 0
}

.profile-avatar {
  margin-top: 3rem
}

/* Forum */

.forum-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forum-toolbar .btn {
  font-family: "Supersonic Rocketship";
  font-size: 1.4rem;
}

.table-users td:first-child {
  width: 60px
}

.table-users td img {
   border-radius: 50%;
   height: 60px;
   width: 60px;
}

.table-users {
   max-width: calc(100% - 3px);
   overflow: hidden;
   border-collapse: separate;
   border-spacing: 0 1rem;
}

.table-users tbody tr {
  background-color: #D02337;
  padding: 1rem;
  -webkit-clip-path: polygon(1% 4%, 98% 2%, 99% 100%, 0 96%);
  clip-path: polygon(1% 4%, 98% 2%, 99% 100%, 0 96%);
}

.table-users tbody tr:nth-child(odd) {
  -webkit-clip-path: polygon(0 0, 100% 8%, 98% 95%, 3% 100%);
  clip-path: polygon(0 0, 100% 8%, 98% 95%, 3% 100%);
}

.table-users tbody tr td {
  background-color: white;
}

/* .table-users table td {
  text-align: center;
  vertical-align: middle;
} */

.table-users td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

.table-users th { 
  color: white;
  background-color: #D02337;
  font-family: "Supersonic Rocketship";
}

/* .table-users tr:nth-child(2n),
.table-users tr:nth-child(2n+1) { 
  background-color: white; 
} */

@media screen and (max-width: 700px) {   
  table, tr, td { display: block; }
   
  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }

  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }

  td:not(:first-child):before {
    color: lighten(#398B93, 30%);
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }

  td:nth-child(2):before { content: 'Name:'; }
  td:nth-child(3):before { content: 'Email:'; }
  td:nth-child(4):before { content: 'Phone:'; }
  td:nth-child(5):before { content: 'Comments:'; }
   
  tr {
    padding: 10px 0;
    position: relative;
  }

  tr:first-child { display: none; }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: #398B93;
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      border-color: rgba(57,139,147,0.1);
      height: 100px;
      margin: 0.5rem 0;
      width: 100px;
   }
   
  td:first-child { 
      background-color: rgba(57,139,147,0.1); 
      border-bottom: 1px solid #398B93;
      border-radius: 10px 10px 0 0;
      position: relative;   
      top: 0;
      transform: translateY(0);
      width: 100%;
  }
  
  td:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;
  }

  td:not(:first-child):before {
    font-size: .8em;
    padding-top: 0.3em;
    position: relative;
  }
  
  td:last-child  { padding-bottom: 1rem !important; }
   
  tr {
  background-color: white !important;
  border: 1px solid #398B93;
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  margin: 0.5rem 0;
  padding: 0;
  }
  
  .table-users { 
    border: none; 
    box-shadow: none;
    overflow: visible;
  }
}